{% load i18n %}
<?xml version="1.0" encoding="utf-8"?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"> 
<head> 
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="shortcut icon" href="favicon.ico" /> 
	<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all" charset="utf-8">
	<link rel="stylesheet" href="/static/css/960.css" type="text/css" media="all" charset="utf-8">
	{% block extra_head %}{% endblock %}
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	<div class="container_12">
		{% block subnav %}{% endblock %}
		{% block content %}{% endblock %}
	</div>
</body>
</html>